body {
  margin: 0;
  font-family:NoirPro, sans-serif -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #edeeee;
  height: 64px;
}

.ant-layout {
  background-color: #ffffff !important;
}

.ant-layout-sider {
  border-right: 1px solid #edeeee;
}

.ant-layout-sider-children > * {
  margin-top: 30px;
}

.ant-layout-sider-children > *:first-child {
  margin-top: 0;
}

.ant-layout-sider-collapsed .app-link__item-description,
.ant-layout-sider-collapsed .app-brand__title {
  display: none;
}

.ant-layout-sider-collapsed .app-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ant-layout-sider-zero-width-trigger {
  top: 10px !important;
}

.margin-bottom {
  margin-bottom: 40px;
}

.app-link {
  margin-left: 16px;
  cursor: pointer;
}

.new-contact__btn {
  background-color: #0469b9 !important;
  color: #ffffff !important;
}

.app-link__item {
  padding: 5px 0
}

tr *:first-child {
  margin-left: 15px !important;
}

tr *:last-child {
  margin-right: 0 !important;
}

.loader-container {
  display: flex;
	/* height: 100vh; */
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: fixed;
  width: 100%;
  top: 0; left: 0; right: 0; bottom: 0;
  height: calc(100% - 40%);
	z-index: 2;
	cursor: pointer;
}

.app-loader {
	display: flex;
	/* height: 100vh; */
	flex-direction: column;
	justify-content: center;
	align-items: center;

  position: absolute;
  height: inherit !important;
	width: 100%;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 2;
	cursor: pointer;
}

.loadings {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 4px solid red;
  border-right-color: yellow;
  border-radius: 50%;
  box-shadow: 0 0 25px 2px #eee;
  animation: spin 1s linear infinite;
  z-index: 10000;
}

@keyframes spin
  {
    from { transform: rotate(0deg);   opacity: 0.2; }
    50%  { transform: rotate(180deg); opacity: 1.0; }
    to   { transform: rotate(360deg); opacity: 0.2; }
  }

.relative {
    position: relative;
}
